/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #7e7f84;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
	font-family: 'Roboto', sans-serif; /*font-family: 'Roboto Condensed', sans-serif;*/
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #f45a40;
	text-decoration: underline;
}
a:hover {
	color: #f45a40;
	text-decoration:none;
}
a:focus, a:active {
	color: #f45a40;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/

/*--------------Start header-------------*/
.main-header{
	display: flex;
	align-items: center;
	max-width: 1240px;
	margin: 0 auto;
	padding: 30px 20px;
	background-color: #f5f4ff;
	 
}
.main-header-form, .logo{
	flex: 1;
}
.main-navigation{
	flex: 2
}
.main-navigation-item{
	text-align: center;
}
.main-navigation-list{
	display: inline-block;
	margin: 0 10px;
}
.main-navigation-list a{
	color:#0075bf;
	font-size: 1.125em;
	text-decoration: none;
}
.main-navigation-list a:hover{
	text-decoration: underline;
}
.main-header-form{
	text-align: right;
}
.main-header-form button{
	padding: 8px 20px;
	border: 1px solid #0075bf;
	margin-left: 20px;
	border-radius: 7px;
	cursor: pointer;
}
.main-header-form button:first-child{
	color: #0075bf;
}
.main-header-form button:last-child{
	color:#fff;
	background-color: #0075bf;
}
.main-header-form button:first-child:hover{
	box-shadow: 0px 0px 2px 2px rgba(77, 123, 248, 0.7)
}
.main-header-form button:last-child:hover{
	box-shadow: 0px 0px 2px 2px rgba(167, 187, 209, 0.7)
}
.main-header-form button:first-child:active{
	box-shadow: 0px 0px 2px 1px rgba(77, 123, 248, 0.7)
}
.main-header-form button:last-child:active{
	box-shadow: 0px 0px 2px 1px rgba(167, 187, 209, 0.7)
}
/*--------------End header-------------*/

@media screen and (max-width: 1020px) {
	.main-header{
		flex-wrap: wrap;
	}
	 
	.main-header-form{
		margin-bottom: 15px; 
		order:2;
		 
	}
	.main-navigation{
		margin: 20px 0 0 0;
		order:3;
		flex: none;
		width: 100%; 
		 
	}
	.main-navigation-item{
		text-align: left;	 
	}
	.main-header-form button{
		margin-left: 5px;;
	}
	.main-header-form button{
		padding: 5px 10px;
	}	
	.main-navigation-list{
		margin: 0 5px;
	} 
	.main-navigation-list a{
		font-size: 1.1em;
	}
  }
  @media screen and (max-width: 550px) {
	.main-header{
		flex-direction: column;
	}
	.logo{
		margin-bottom: 20px;
	}
	.main-navigation-item{
		margin-top: 40px;
	   
	}
	.mobile{
		display: none;
	}
	.main-navigation-list{
		display: block;
		background-color: #fff;
		 
		
	}
	.main-navigation-list:hover{
		background-color: #0075bf;
		color:#fff;
	} 
	.main-navigation-list a{
		display: flex;
		flex: 1;
		padding: 5px; 
	}
	.main-navigation-list a:hover{
		text-decoration: none;
		color:#fff; 
		 
	}
	/*Start Main Navigation mobile*/
	.icon{
		float: right;
		display: block; 
	}
	.icon span{
		width: 25px;
		height: 3px;
		background-color: #0075bf;
		display: block;
		margin: 4px 0;
	}
 
	/*End Main Navigation mobile*/
  }